<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.driverassistant">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">

        <!-- google api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-NriZqEfYf925dwROxXQ500S3RNis9Qg" />


        <!-- Home activity -->
        <activity android:name=".Home.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Home.Home"/>
        <activity android:name=".Home.History" />

        <!-- Login activity -->
        <activity android:name=".Login.Login" />
        <activity android:name=".Login.Register" />

        <!-- Map activity -->
        <activity android:name=".Map.MapActivity"/>


        <!-- Petrol activity -->
        <activity android:name=".Petrol.list_main" />
        <activity android:name=".Petrol.UpdateActivity"/>


        <!-- Function activity -->
        <activity android:name=".Function.dichvu" />
        <activity android:name=".Function.nhienlieu" />
        <activity android:name=".Function.loaichi" />
        <activity android:name=".Function.loaithunhap" />
        <activity android:name=".Function.lienlac" />

    </application>

</manifest>